﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

#dialog-confirm > p {
    margin-bottom: 0;
    padding: 7px 0 0;
}

#dialog-confirm > p > span {
    margin: 3px 12px 0 0;
    float: left;
}

.delete {
    
}

.edit {
    width: 100%;
}