﻿@model HelloApplication.Models.Paging  

@if (Model.Pages.Count > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.CurrentPage != 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@(Url.Action("Index", Model.ControllerName, new {page = Model.CurrentPage - 1}))">Предыдущий</a>
                </li>
            }
            @foreach (var page in Model.Pages)
            {
                <li class="page-item @(page == Model.CurrentPage ? "active" : "")" }>
                    <a class="page-link" href="@(Url.Action("Index", Model.ControllerName, new {page}))">@page</a>
                </li>
            }
            @if ((Model.CurrentPage + 1) <= Model.LastPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@(Url.Action("Index", Model.ControllerName, new {page = Model.CurrentPage + 1}))">Следующий</a>
                </li>
            }
        </ul>
    </nav>
}
