﻿@model bool

<input type="checkbox" @{
    if (Model)
    {
        <text>checked="checked"</text>
    }
    if ((bool)ViewData["disabled"])
    {
        <text>disabled="disabled"</text>                               
    }
} onchange="message.changeAdminForm(this)"/>
