﻿@model HelloApplication.Models.Message

<div>@Model.Post</div>
@if (User.IsInRole(Constants.Roles.AdminRole))
{
    <div>
        @Ajax.ActionLink("Редактировать", "Edit",
            new
            {
                id = Model.Id
            },
            new AjaxOptions
            {
                UpdateTargetId = $"message_{Model.Id}",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = $"$.validator.unobtrusive.parse($('#message_{Model.Id}')[0])"
            })
        <a href="@(Url.Action("Delete", "Message", new {id = Model.Id}))"
           class="delete" onclick="message.deleteMessage(this, event)">
            Удалить
        </a>
    </div>
}