﻿@using HelloApplication.Controllers
@using HelloApplication.Models
@model IEnumerable<Message>
@{
    ViewBag.Title = "Гостевая книга";
}    

<h2>@ViewBag.Title.</h2>

<div id="dialog-confirm" title="Удалить сообщение?" style="display:none">
    <p><span class="ui-icon ui-icon-alert"></span>Вы действительно хотите удалить это сообщение?</p>
</div>

@Html.Partial("Post", new Message())
    
@foreach (var message in Model)
{
    Html.RenderAction("Index", "Message", new { message });
}

@{ Html.RenderAction("Paging", "Paging", new { currentPage = ViewBag.CurrentPage, count = ViewBag.Count, controllerName = ViewBag.ControllerName }); }
