﻿@model HelloApplication.Models.Message

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Post", "GuestBook", FormMethod.Post))
    {
         <div class="form-group">
             @Html.LabelFor(model => model.Post)
             @Html.ValidationMessageFor(model => model.Post, string.Empty)
             @Html.EditorFor(model => model.Post, new {htmlAttributes = new {@class = "form-control", rows = 5}})
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>
     }
}
else
{
    @Html.ActionLink("Войдите, чтобы коментировать", "Login", "Account", new { ReturnUrl = Url.Action("Index", "Guestbook") }, null)
}