﻿@using HelloApplication.Controllers
@model IEnumerable<HelloApplication.Models.User>

@{
    ViewBag.Title = "Пользователи";
}

<h2>@ViewBag.Title.</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @using (Ajax.BeginForm("Update", new AjaxOptions { HttpMethod = "Post" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => item.Id, new { Name = "id"})
                @Html.EditorFor(modelItem => item.IsAdmin, new {disabled = item.UserName == Constants.MainUser})
            }
        </td>        
        <td>
            @using (Html.BeginForm("Delete", "Users", new { item.Id }, FormMethod.Post, new {id=$"form_{item.Id}"}))
            {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-default" 
                    @{
                        if (item.UserName == Constants.MainUser)
                        {
                            <text>disabled="disabled"</text>        
                        }
                    } 
                value="Удалить"/>
            }
        </td>
    </tr>
}
</table>


@{ Html.RenderAction("Paging", "Paging", new { currentPage = ViewBag.CurrentPage, count = ViewBag.Count, controllerName = ViewBag.ControllerName }); }
